<br/>
<!--new ui-->
<div>
    <div ng-controller="FormsCtrl" ng-init="init()">
        <header id="style-guide-header">
            <div class="col-lg-8">
                <h2><i class="icon-home"></i> Muzima Forms</h2>
            </div>
            <div class="col-lg-4">
                    <i ng-click="go('/import/xforms')" class="icon-upload-alt pull-right" title="Upload"></i>
                    <i ng-click="go('/list/xforms')" class="icon-upload-alt pull-right" title="Existing "></i>
            </div>
        </header>
        <div id="body-wrapper" class="test-page">

            <div ng-show="fetchingForms">
                <div style="text-align: center">
                    <h1>Fetching forms...</h1>
                </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-8">

                </div>
                <div class="col-lg-4">
                    <form>
                        <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchQuery" placeholder="Search Form By Tag"
                               style="padding-left: 5px; padding-right: 5px">
                    </form>
                </div>
            </div>
            </br>
            <div class="row forms-list" ng-hide="!hasForms() && !fetchingForms">
                <div class="col-lg-12">
                    <table>
                        <thead>
                        <tr class="forms-header">
                            <th>Form Templates</th>
                            <th></th>
                            <th></th>
                            <th><small><i class="pull-right">Toggle Retired</i></small></th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="forms-list-header">
                            <th>Name</th>
                            <th>Version</th>
                            <th>Description</th>
                            <th>Tags</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="muzimaform in muzimaforms | filter:searchQuery | tagFilter:activeTagFilters">
                            <td><a href="" ng-click="editForm(muzimaform)">{{muzimaform.form.name}}</a></td>
                            <td> {{muzimaform.form.version || ""}}</td>
                            <td> {{muzimaform.form.description || ""}}</td>
                            <td>
                                <span class="tags" ng-repeat="tag in muzimaform.form.tags">
                                    <span class="label form-tag" ng-style="tagStyle(tag.id)"
                                          style="background-color: rgb(185, 151, 78);">
                                        <span class="ng-binding">{{tag.name}} </span>
                                    </span>
                                </span>


                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="close-box" ng-show="!hasForms() && !fetchingForms">
                <div class="container">
                    <h2>No Available Forms</h2>

                    <p>Please import forms by clicking on the import button.</p>

                    <p>You can import forms from Openmrs XFroms module, from Formhub or from your file system.</p>
                </div>
            </div>
        </div>
    </div>
</div>
