</br>
   <header id="style-guide-header">
        <div  class="col-lg-8">
            <h2><i class="icon-home" ng-click="go('/list/forms')"></i>  Edit Muzima Forms</h2>
        </div>
    </header>

    <div ng-controller = "FormViewCtrl" ng-init ="init()">
    </br>
         <div class="row">
        <div class="col-lg-12 panel panel-custom">
            <div class="panel-heading">
                    <span class="form-heading content_wrap">
                        <strong class="ng-binding"><i class= " icon-file-alt"></i> {{muzimaforms.form.name}}</strong>
                    </span>
                    <span class="form-heading content_wrap pull-right">
                        <span>
                            <i class="icon-eye-open"ng-click="showFormPreview(muzimaforms.form.html, muzimaforms.form.model, muzimaforms.form.modelJson)"></i>
                        </span>
                        <span>
                            <i class="icon-tags" ng-click="editMode = !editMode" title = "Add tags"></i>
                        </span>
                    </span>
            </div>
            <div>
                <p><small class="ng-binding"><b>Description : </b>{{muzimaforms.form.description || ""}}</small></p>
            </div>
            <div>
                <p><small class="ng-binding"><b>Version : </b>{{muzimaforms.form.version || ""}}0</small></p>
            </div>
            <div class="checkboxes">
              <p>
                  <label><small class="ng-binding"><b>Retired : </b></small></label>
                  <input type="checkbox" ng-model="muzimaforms.form.retired">
              </p>
            </div>
            <div>
                <p><small class="ng-binding"><b>Discriminator : </b> {{muzimaforms.form.discriminator || ""}}</small></p>
            </div>
            <div>
                <p>
                    <small class="ng-binding"><b>Tags : </b></small>

                    <span class="tags" ng-repeat="tag in muzimaforms.form.tags">
                        <span class="label form-tag" ng-style="tagStyle(tag.id)"
                              style="background-color: rgb(185, 151, 78);">
                            <span class="ng-binding">{{tag.name}} </span>
                            <span ng-click="removeTag(muzimaforms.form, tag)">
                                 <i class="icon-remove"></i>
                            </span>
                        </span>
                    </span>
                </p>
            </div>

            <div class = "add-tag" ng-show="editMode">
                    <form ng-submit="saveTag(muzimaforms)" class="ng-pristine ng-valid">
                        <input name="newTag" ng-model="muzimaforms.newTag" ng-trim="true" type="text" class="form-control ng-pristine ng-valid" placeholder="Add tag" style="margin-top: 15px; padding-left: 5px; padding-right: 5px">
                    </form>
                </div>

            </br>
            <div>
                <p>
                    <small class=""><b>HTML  </b></small>
                    <small class="pull-right"><i class = "icon-paper-clip" ng-click="editHtml = !editHtml"
                        title = "Upload form Template"></i></small>
                </p>
                <div>
                    <textarea class = "htmlData" readonly>
                        {{muzimaforms.form.html}}
                    </textarea>
                </div>
            </div>
            </br>
           <!--  <div class ="pull-right">
                <input id="login-button" class="confirm" type="submit" value="Save">
                <input id="login-button" class="cancel" type="submit" value="Cancel">
            </div> -->

        </div>
    </div>

   <div  ng-show = "editHtml" >
       <div class="dialog-background">
            <div class = "dialog-main">
                <div class="dialog">
                  <div class="dialog-header">
                      <i class="icon-upload-alt" title = "Upload form Template"></i>
                      <h3> Upload form template </h3>
                  </div>
                  <div class="dialog-content">
                        <form role="form" ng-submit="update(file, muzimaforms.form, formType )" class="ng-pristine ng-valid">
                        <div class="panel">
                            <div class="form-group">
                            <file-upload message="Click here to update the form template">
                                <input id="fileUploadControl" type="file" name="form[files][]" style="display: none;">
                                <div id="fileUploadControlActivator" class="well well-lg">
                                    Click here to update the form template
                                </div>
                            </file-upload>
                            </div>
                            <div class="form-group" ng-hide="isValidated()">
                                <div ng-show="hasFile()" style="display: none;">
                                    <label for="formType">Select the FormType: </label>
                                    <select id="formType" ng-model="formType" name="formType" class="ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                                        <option value="odk">ODK</option>
                                        <option value="html">HTML</option>
                                        <option value="javarosa">JavaRosa</option>
                                    </select>
                                </div>
                                <div ng-show="hasFile()">
                                    <input type="button" ng-click="validate(file,formType)" class="btn btn-success" value="Validate">
                                </div>

                            </div>
                            <div ng-show="isValidXForm()" style="display: none;">
                                <div class="alert alert-success">The Form is valid! Use the upload button to import it.</div>
                            </div>
                            <div ng-show="isInvalidXForm()" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 well-small">
                                        <button ng-click="validate(file, formType)" class="btn btn-success">Re-Validate</button>
                                    </div>
                                </div>
                                <!-- ngRepeat: validation in validations.list -->
                            </div>
                </div>
            </form>
                    <span class="button confirm" ng-click = "update(file, muzimaforms.form, formType)" > Upload </span>
                    <span class="button cancel" ng-click = "editHtml = !editHtml"> Cancel </span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
