<div ng-show="hasForms()">
    <div class="header_background border" style="text-align: center">
        <h3 style="color: #ffffff">
            Form Preview
        </h3>
        <!-- <div class="span1 padded-table-content">
            <a class="btn btn-inverse" ng-click="" style="color: #ffffff">
                <i class="icon-edit"></i>
            </a>
        </div> -->
    </div>
    <div id="preview" ng-bind-html-unsafe="getFormPreview()">
    </div>
</div>
<div ng-show="!hasForms() || !getFormPreview()">
    <div>
        <h4>
            No Preview Available
        </h4>
    </div>
</div>
