<div>
    <div class="header_background border">
        <span><input class="padded-content" type="search" ng-model="searchQuery" style="width: 200px;height: 15px"
                     placeholder="Search..."></span>
        <span class="pull-right padded-content" ng-switch on="importMode">
            <div ng-switch-when="false" ng-include="'import'"></div>
            <div ng-switch-when="true" ng-include="'done'"></div>
        </span>

        <script type="text/ng-template" id="import">
            <a class="btn btn-info" ng-click="import()" style="color: #ffffff"><i class="icon-plus"> Import</i></a>
        </script>

        <script type="text/ng-template" id="done">
            <a class="btn btn-danger" ng-click="cancelImport()" style="color: #ffffff"><i class="icon-remove">
                Cancel</i></a>
            <a class="btn btn-success" ng-click="done()" style="color: #ffffff"><i class="icon-ok"> Done</i></a>
        </script>
    </div>

    <div collapse="!importMode" class="open-box" ng-repeat="form in xForms | filter:searchQuery"
         ng-click="selectXForm(form.id)" ng-class="activeXForm(form.id)">
        <div class="padded-table-content">
            <strong>{{form.name}}</strong>
        </div>
        <div class="padded-table-content">
            <small>{{form.description}}</small>
        </div>
    </div>

    <div collapse="importMode" class="row-fluid open-box" ng-show="hasForms()"
         ng-repeat="form in forms | filter:searchQuery" ng-click="selectForm(form.id)" ng-class="activeForm(form.id)">
        <div class="span10 padded-table-content">
            <div class="padded-table-content">
                <strong>{{form.name}}</strong>
            </div>
            <div class="padded-table-content">
                <small>{{form.description}}</small>
            </div>
            <div collapse="!editMode">
                <div class="padded-table-content">
                    <span class="label form-tag" ng-repeat="tag in form.tags"
                          ng-style="tagStyle(tag.id)">{{tag.name}}</span>
                </div>
            </div>
        </div>
        <div class="span1 padded-table-content">
            <a class="btn btn-success" ng-click="editMode = !editMode" style="color: #ffffff"><i class="icon-cogs"></i></a>
        </div>
        <div class="row-fluid padded-table-content" collapse="editMode">
            <div class="span11">
            <span ng-repeat="tag in form.tags">
                <span class="label label-delete" ng-style="tagStyle(tag.id)"> {{tag.name}} </span>
                <span class="label label-delete-icon" ng-style="tagStyle(tag.id)">
                    <i class="icon-remove"></i>
                </span>
            </span>
            </div>
        </div>

        <div collapse="editMode" class="row-fluid">
            <form class="span11" ng-submit="saveTag(form.id, newTag)"><input name="newTag" ng-model="newTag" type="text" ng-trim="true"
                                        placeholder="Enter a tag...">
            </form>
        </div>
    </div>

    <div ng-show="!hasForms() && !importMode" class="open-box">
        <div>Please import forms</div>
    </div>
    <div ng-show="!hasXForms() && importMode" class="open-box">
        <div>No Xforms to import</div>
    </div>
</div>