<div class="container" ng-controller="FormsCtrl" ng-init="init()" xmlns="http://www.w3.org/1999/html">
<!--TODO : text styles if put in css file are overridden by something else. Need to figure it out-->
<div class="navbar navbar-inverse navbar-custom">
    <div class="container">
        <a class="navbar-brand" style="color: #ffffff; font-size: 20px">Muzima Forms</a>

        <ul class="nav navbar-nav pull-right">
            <li class="search-element">
                <form class="navbar-form pull-right">
                    <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search"
                           style="padding-left: 5px; padding-right: 5px">
                </form>
            </li>
            <li>
                <button type="button" class="btn btn-success dropdown-toggle navbar-btn" data-toggle="dropdown">
                    Import <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" href="#xformsModal" ng-click="import()"
                           style="color: #323232 ;text-decoration: none">XForms Module</a></li>
                    <li><a data-toggle="modal" href="#formhubModal"
                           style="color: #323232 ;text-decoration: none">Formhub</a></li>
                    <li class="divider"></li>
                    <li><a data-toggle="modal" href="#filesystemModal"
                           style="color: #323232 ;text-decoration: none">Choose File</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div ng-show="tagFilterActive()" class="well well-large">
    <span>Filter by: </span>
        <span class="tag" ng-repeat="tag in activeTagFilters">
                  <span class="label form-tag" ng-style="tagStyle(tag.id)">
                       <span>{{tag.name}} </span><span ng-click="removeTagFilter(tag)"><i
                          class="icon-remove"></i></span>
                  </span>
            </span>
</div>

<div class="list-group" ng-show="hasForms()">
    <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="muzimaform in muzimaforms | filter:searchQuery | tagFilter:activeTagFilters">
            <div class="row">
                <div class="col-lg-10">
                    <div>
                        <p class="form-heading content_wrap">
                            <strong>{{muzimaform.form.name}}</strong>
                        </p>

                        <p>
                            <small>{{muzimaform.form.description}}</small>
                        </p>
                    </div>
                    <div>
                            <span class="tag" ng-repeat="tag in muzimaform.form.tags">
                                <span class="label form-tag" ng-style="tagStyle(tag.id)">
                                <span ng-click="addTagFilter(tag);$event.stopPropagation()">{{tag.name}} </span><span
                                        ng-click="removeTag(muzimaform.form, tag)"><i
                                        class="icon-remove"></i></span>
                                </span>
                            </span>
                    </div>

                </div>
                <div class="col-lg-2">
                    <a class="btn btn-info pull-right" ng-click="showFormPreview(muzimaform.form.uuid)"
                       style="margin-bottom: 5px;background-color: #33b5e5; color: #ffffff; text-decoration: none">
                        <i class="icon-eye-open"></i> Preview</a>
                    <a class="btn btn-info pull-right" ng-click="editMode = !editMode"
                       style="background-color: #34495e; color: #ffffff; text-decoration: none">
                        <i class="icon-tags"></i> Add Tags</a>
                </div>
            </div>
            <div class="row" ng-show="editMode">
                <form class="col-7" ng-submit="saveTag(muzimaform)">
                    <input name="newTag" ng-model="muzimaform.newTag" ng-trim="true" type="text"
                           class="form-control" placeholder="Add tag"
                           style="margin-top: 15px; padding-left: 5px; padding-right: 5px">
                </form>
            </div>
        </li>
    </ul>
</div>

<!--<div class="modal fade" id="formPreviewModal" tabindex='-1'>-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header" style="background-color: #34495e">-->
                <!--<button type="button" class="close" style="color: #ffffff" data-dismiss="modal"-->
                        <!--aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title" style="color: #ffffff">{{selectedForm.name}}</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div id="preview" ng-bind-html-unsafe="getFormPreview()" />-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.modal &ndash;&gt;-->

<div class="modal fade" id="xformsModal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495e">
                <button type="button" class="close" style="color: #ffffff" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color: #ffffff">Unconverted forms in XForms module</h4>
            </div>
            <div class="modal-body">
                <div class="list-group" ng-show="hasXForms()">
                    <div class="list-group">
                        <a class="list-group-item"
                           ng-repeat="form in xForms" ng-click="selectXForm(form.id)"
                           ng-class="activeXForm(form.id)">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div>
                                        <p class="form-heading content_wrap">
                                            <strong>{{form.name}}</strong>
                                        </p>

                                        <p>
                                            <small>{{form.description}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="close-box" ng-show="!hasXForms()">
                    <div class="container">
                        <h4>No Available Forms in XForms Module</h4>

                        <p>Please create and design form using Xforms module. Once saved, forms would be visible
                            here</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal" ng-click="cancelImport()"
                   style="color: #ffffff ;text-decoration: none">Close</a>
                <a href="#" class="btn btn-success" data-dismiss="modal" ng-click="done()"
                   style="color: #ffffff ;text-decoration: none">Import</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="formhubModal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495e">
                <button type="button" class="close" style="color: #ffffff" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color: #ffffff">Import from Formhub</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Formhub url"
                           style="padding-left: 5px; padding-right: 5px"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Import</button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="filesystemModal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495e">
                <button type="button" class="close" style="color: #ffffff" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color: #ffffff">Open File</h4>
            </div>
            <div class="modal-body">
                <file-input/>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal"
                   style="color: #ffffff ;text-decoration: none">Close</a>
                <a href="#" class="btn btn-success" data-dismiss="modal" ng-click="done()"
                   style="color: #ffffff ;text-decoration: none">Upload</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="close-box" ng-show="!hasForms()">
    <div class="container">
        <h2>No Available Forms</h2>

        <p>Please import forms by clicking on the import button.</p>

        <p>You can import forms from Openmrs XFroms module, from Formhub or from your file system.</p>
    </div>
</div>

</div>