<div class="container" ng-controller="FormsCtrl" ng-init="init()">
    <!--TODO : text styles if put in css file are overridden by something else. Need to figure it out-->
    <div class="navbar navbar-inverse navbar-custom">
        <div class="container">
            <a class="navbar-brand" style="color: #ffffff; font-size: 20px">Muzima Forms</a>

            <ul class="nav navbar-nav pull-right">
                <li class="search-element">
                    <form class="navbar-form pull-right">
                        <input type="text" class="form-control col-lg-8" placeholder="Search"
                               style="padding-left: 5px; padding-right: 5px">
                    </form>
                </li>
                <li>
                    <button type="button" class="btn btn-success dropdown-toggle navbar-btn" data-toggle="dropdown">
                        Import <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" style="color: #323232 ;text-decoration: none">XForms Module</a></li>
                        <li><a href="#" style="color: #323232 ;text-decoration: none">Formhub</a></li>
                        <li class="divider"></li>
                        <li><a href="#" style="color: #323232 ;text-decoration: none">Choose File</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="list-group" ng-show="hasForms()">
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="muzimaform in muzimaforms | filter:searchQuery | tagFilter:activeTagFilters">
                <div class="row show-grid">
                    <div class="col-lg-10">
                        <div>
                            <p class="form-heading">
                                <strong>{{muzimaform.form.name}}</strong>
                            </p>
                            <p>
                                <small>{{muzimaform.form.description}}</small>
                            </p>
                        </div>
                        <div>
                            <span class="tag" ng-repeat="tag in muzimaform.form.tags">
                                <span class="label form-tag" ng-style="tagStyle(tag.id)">
                                <span ng-click="addTagFilter(tag)">{{tag.name}} </span><span
                                        ng-click="removeTag(muzimaform.form, tag)"><i
                                        class="icon-remove"></i></span>
                                </span>
                            </span>
                        </div>

                    </div>
                    <div class="col-lg-2">Tag Button</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="close-box" ng-show="!hasForms()">
        <div class="container">
            <h2>No Available Forms</h2>

            <p>Please import forms by clicking on the import button.</p>

            <p>You can import forms from Openmrs XFroms module, from Formhub or from your file system.</p>
        </div>
    </div>
</div>
