<div ng-show="hasForms()">
    <!--<div class="row-fluid">-->
        <div class="header_background border span12" style="text-align: center">
            <h3 style="color: #ffffff">
                Form Preview
            </h3>
        </div>
        <!--<div class="span1">-->
            <!--<a class="btn btn-inverse" style="color: #ffffff" href='fillForm.form#/form?formId={{selectedFormId}}'>-->
                    <!--<i class="icon-edit"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <div id="preview" ng-bind-html-unsafe="getFormPreview()" />
</div>
<div ng-show="!hasForms() || !getFormPreview()">
    <div>
        <h4>
            No Preview Available
        </h4>
    </div>
</div>
