<div>
    <div class="well-small header_background border clearfix">
        <div class="input-append" ng-show="hasForms()">
            <span><input type="search" ng-model="searchQuery"></span>
            <span class="add-on" style="color: #777777"><i class="icon-search"></i></span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success"  style="color: #ffffff"><i class="icon-plus"> Import</i></a>
        </div>
    </div>

    <div ng-show="hasForms()" class="row-fluid open-box" ng-repeat="form in list() | filter:searchQuery" ng-click="select(form.id)"
         ng-class="activeClass(form.id)">
        <div class="span10">
            <div class="padded-content">
                <strong>{{form.name}}</strong>
            </div>
            <div class="padded-content">
                <small>{{form.description}}</small>
            </div>
            <div collapse="!editMode">
                <div class="padded-content">
                <span class="label tag" ng-repeat="tagId in form.tags"
                      ng-style="tagStyle(tagId)">{{tags[tagId].name}}</span>
                </div>
            </div>
        </div>
        <div class="span1 padded-content">
                <a class="btn btn-success" ng-click="editMode = !editMode" style="color: #ffffff"><i class="icon-cogs"></i></a>
        </div>
        <div class="row-fluid padded-content" collapse="editMode">
            <div class="span11 tagbox">
                <span style="display: inline-block; padding-right: 2px;" ng-repeat="tagId in form.tags">
                    <span class="label label-delete" ng-style="tagStyle(tagId)">
                        {{tags[tagId].name}}
                    </span><span class="label label-delete-icon" ng-style="tagStyle(tagId)"><i class="icon-remove"></i></span>
                </span>
                <input type="search" class="tagbox-input" placeholder="Add Tag ...">
            </div>
        </div>
    </div>

    <div ng-show="!hasForms()" class="open-box">
        <div>Please import forms</div>
    </div>
</div>