<div ng-controller="ImportCtrl">
    <div class="row">
        <div class="col-lg-12">
            <file-upload message="Click here to upload Java Rosa Form"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <input type="button" ng-click="validate(file)" class="btn btn-danger"
                       value="Validate">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"></div>
    </div>
    <div class="row" ng-repeat="validation in validations.list">
        <div class="col-lg-12">
            <pre class="alert" ng-class="style(validation.type)">{{validation.message}}</pre>
        </div>
    </div>
</div>

