.table-icon {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.border {
    border: 1px solid #ddd;
}

.open-box {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.search-box{
    width: 200px;
    height: 15px;
}

.header_background {
    background-color: #34495e;
}

.tagsinput{
    border: 1px solid #1abc9c;
    height: 75px;
    margin-bottom: 5px;
    padding: 3px 1px 1px 3px;
}

.tagsinput .tag {
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 3px 10px 5px 16px;
    line-height: 10px;
}

.tagsinput .tag:hover {
    background-color: #16a085;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 20px;
}

.table-element {
    text-align: center;
    vertical-align: middle;
}

.padded-content {
    margin: 16px 16px;
}

.padded-table-content {
    margin: 5px 16px;
}

.active-form {
    background-color: #F8F8F8;
}

.active-xform {
    background-color: #BDC3C7;
}

.label{
    font-size: 13px;
}

.tagbox{
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 16px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
}

.label-delete{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 2px;
}

.label-delete-icon{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 2px;
    padding-top: 1px;
    font-size: 14.1px;
}

input.tagbox-input,
input.tagbox-input:focus,
input.tagbox-input:hover,
input.tagbox-input:active
{
    border: none;
    box-shadow: none;
}

