.table-icon {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.border {
    border: 1px solid #ddd;
}

.open-box {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.header_background {
    background-color: #eeeeee;
}

.tag {
    margin-right: 2px;
}

.table-element {
    text-align: center;
    vertical-align: middle;
}

.table-content {
    margin: 5px;
}

.active-form {
    background-color: #F8F8F8;
}
